name: Parallel Workflow
on: [push]
jobs:
    build:
      runs-on: windows-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'
      - name: Build project
        run: dotnet build CalculatorTest/CalculatorTest.csproj

    test:
      needs: build
      runs-on: ubuntu-latest
      strategy:
        matrix:
          configuration: [Debug, Release]
      steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'
      - name: Run tests
        run: dotnet test CalculatorTest/CalculatorTest.csproj --configuration ${{matrix.configuration }}

